/* Navbar */
.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.01);
    position: fixed;
    top: -8rem;
    padding: 3rem;
    z-index: 10;
    animation: animateNavbar 1s 0.5s forwards;
    transition: height 0.5s;
}

.navbar.change {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }
    100% {
        top: 0;
    }
}

.navbar-logo {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    font-family: 'Baloo Da 2', cursive;
}

.navbar-logo a {
    font-size: 2.5rem;
    color: #eee;
    letter-spacing: 0.1rem;
}

.navbar-logo span {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(149, 225, 238);
}

.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 500;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
    transition: transform 0.3s;
}

.line-1 {
    width: 50%;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}

.change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
}

.change .line-3 {
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
}

.nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link {
    font-family: 'MADE Soulmaze', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: #fff;
    margin: 2rem 0;
    transition: color 0.4s;
}

.nav-link:hover {
    color: #9e0e09;
}
/*  End of Navbar ------------------------------------------------*/

/*  Section common ------------------------------------------------*/
.section-heading {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.8;
    text-shadow: 2rem 2rem 4rem #aaa;
    font-family: 'Baloo Da 2', cursive;
}

/* end of section common------------------------------------------------*/

/*  Section 1 ------------------------------------------------*/

.section-1 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.banner {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.banner-heading {
    height: 20rem;
    margin-bottom: 4rem;
    perspective: 50rem;
    overflow: hidden;
    font-family: 'Baloo Da 2', cursive;
}

.banner-heading span {
    font-size: 9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.4rem 0.2rem 0.1rem rgba(0, 0, 0, 1);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
    cursor: context-menu;
}

.heading-1 {
    animation: animateHeading 12s 3s infinite;
}

.heading-2 {
    animation: animateHeading 12s 6s infinite;
}

.heading-3 {
    animation: animateHeading 12s 9s infinite;
}

.heading-4 {
    animation: animateHeading 12s 12s infinite;
}

@keyframes animateHeading {
    0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.banner-btn {
    top: 550px;
    width: 30rem;
    height: 6rem;
    margin-right: 10px;
    background: linear-gradient(to right, #c45d5d, #610909);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 0.1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
    text-shadow: 0.4rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 5;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    animation: fadeAnimation 1s 2s forwards;
    font-family: 'Baloo Da 2', cursive;
}

.banner-btn.two {
    background: linear-gradient(to right, #07cde7, #7db2c2);
    border: 0.1rem solid #056780;
}

.banner-btn::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.banner-btn:hover::before {
    left: 100%;
}
/* End of Section 1 ------------------------------------------------*/

/* Section 2 ------------------------------------------------*/
.section-2 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.about-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-blank {
    width: 45%;
}

.about-text {
    background-color: rgba(5, 103, 128, 0.5);
    width: 550px;
    height: 80%;
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 100px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Baloo Da 2', cursive;
}

.about-btn {
    top: 50px;
    width: 30rem;
    height: 6rem;
    margin-right: 10px;
    background: linear-gradient(to right, #c45d5d, #610909);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 0.1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
    text-shadow: 0.4rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 5;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    animation: fadeAnimation 1s 2s forwards;
    font-family: 'Baloo Da 2', cursive;
}

.about-btn::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.about-btn:hover::before {
    left: 100%;
}

/* end of section 2 ------------------------------------------------*/

/* Section 3-------------------------------------------------------- */
.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-container {
    flex-wrap: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}
.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    perspective: 1000px;
    margin: 30px 5rem;
}

.card-frame {
    border: 10px solid#333;
    border-radius: 5px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg);
    transition: all 0.4s;
}

.card-content {
    width: 500px;
    height: 250px;
    background-color: rgb(149, 225, 238, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(60deg) rotateX(20deg);
    border-radius: 5px;
    transition: all 0.4s;
}

.card:hover .card-frame {
    transform: rotateY(0);
}

.card:hover .card-content {
    background-color: rgba(149, 225, 238, 0.9);
    transform: rotateY(0) rotateX(0);
    border-radius: 0;
}

.card-heading {
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    color: #333;
}

.card-heading span {
    background-color: #333;
    color: #fff;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #056780;
}

.test {
    background-color: #07e7c2;
}
.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
}
.contact-links .section-heading {
    font-size: 5rem;
}

.contact-form-wrapper {
    border-radius: 0 20px 20px 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.link {
    margin: 10px;
    cursor: pointer;
}

img {
    width: 45px;
    height: 45px;
    filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
}

img:hover {
    transform: scale(1.5, 1.5);
}

img:active {
    transform: scale(1.5, 1.5);
    filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.contact-container {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    margin: 0;
}

.contact-name {
    color: #111;
    font-size: 80px;
    text-shadow: 1px 1px 1px #222222;
}

.contact-header {
    color: #111;
    font-size: 30px;
    text-shadow: 1px 1px 1px #222222;
}

.contact-container,
.contact-front,
.contact-back {
    position: absolute;
    right: 20%;
    border-radius: 5px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
div:hover .contact-front {
    z-index: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
div:hover .contact-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.contact-front {
    z-index: 1;
    color: #333;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    padding: 40px 20px;
    text-align: center;
    line-height: 1em;
    font-size: 4rem;
    font-family: 'Reenie Beanie', cursive;
    background-color: rgba(149, 225, 238, 0.6);
}

.contact-back {
    color: #333;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    text-align: left;
    line-height: 1em;
    font-size: 4rem;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-family: 'Baloo Da 2', cursive;
    background-color: rgba(149, 225, 238, 0.9);
}

.contact-title {
    font-size: 2.5rem;
    line-height: 1.5em;
}

.contact-info {
    font-size: 2rem;
    line-height: 1em;
    margin-top: 10px;
}

/* End of Section 4 */

/* Responsive  width*/
@media (max-width: 1860px) {
    .section-2 {
        height: auto;
    }
    .section-3 {
        margin-top: 100px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 45%;
    }

    .banner-heading span {
        font-size: 10rem;
    }

    .card-wrapper {
        flex-wrap: wrap;
    }

    .card-content {
        width: 400px;
        height: 200px;
    }
    .card {
        margin: 5rem 10rem;
    }

    .section-3 {
        height: auto;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 40%;
    }

    .banner {
        top: 25%;
    }

    .banner-heading {
        height: 10rem;
    }

    .banner-heading span {
        font-size: 5rem;
    }

    .contact-links,
    .contact-form-wrapper {
        width: 100%;
    }

    .contact-links {
        border-radius: 10px 10px 0 0;
    }

    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
    }
    h2 {
        font-size: clamp(40px, 10vw, 60px);
    }
}

@media (max-width: 700px) {
    html {
        font-size: 35%;
    }
    .banner-heading {
        height: 15rem;
    }
    .banner-btn {
        top: 250px;
    }

    .banner-btn.two {
        margin-top: 10px;
    }

    .section-heading {
        font-size: 6rem;
    }
    .about-text {
        font-size: 2rem;
    }

    .contact-details div {
        margin: 3rem 2rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 30%;
    }

    .banner-heading {
        height: 10rem;
    }
    .banner-btn {
        top: 200px;
        width: 20rem;
        height: 5rem;
    }

    .banner-btn.two {
        margin-top: 10px;
    }
    .banner-heading span {
        font-size: 34px;
    }

    .about-text {
        font-size: 1.5rem;
    }
    .about-btn {
        width: 20rem;
        height: 5rem;
    }

    .card-content {
        width: 300px;
        height: 150px;
    }

    .contact-links .section-heading {
        font-size: 4rem;
    }

    h2 {
        font-size: clamp(30px, 12vw, 60px);
    }

    .links {
        padding-top: 30px;
    }
}
/* Responsive  height*/

@media (max-height: 1000px) {
    .banner-btn {
        top: 400px;
    }
}
@media (max-height: 850px) {
    .banner-btn {
        top: 300px;
    }
}
@media (max-height: 720px) {
    .banner-btn {
        top: 200px;
    }
    .about-btn {
        top: 10px;
    }
}
@media (max-height: 600px) {
    .banner-btn {
        top: 100px;
    }
}

/* End of Responsive */
